.projects-selector {
  padding: 16px;
  width: 135px;
  border: none;
  border-radius: 10px;
  margin: 16px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.filter-items {
  width: 680px;
  margin: 0 auto;
}

.projects-list {
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-card {
  margin: 16px 0;
}

.selected-filter {
  outline: 2px ridge rgba(56, 40, 202, 0.6);
}
